@{
    var currentRequest = HttpContext.Current.Request.RequestContext.RouteData.Values["id"];
}

<script type="text/javascript">
    function showLoadingScreen() {
        $("#loading").fadeIn();
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);

        $("#loading").fadeIn();
    }

    $(function () {
        $('#side-menu').metisMenu();
    });

</script>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("3D CytoFlow", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @onclick = "showLoadingScreen()" })

        </div>
@*        <!-- Edit Patients Button -->*@
@*        <div class="navbar-header">*@
@*            @{*@
@*                if (currentRequest == null)*@
@*                {*@
@*                    <a href="#" style="font-size: 14px; margin-right: 10px;" class="navbar-btn btn btn-primary" onclick="alert('Select a patient first')">Edit</a>*@
@*                }*@
@*                else*@
@*                {*@
@*                    var currentID = currentRequest.ToString();*@
@**@
@*                    <a href="@Url.Action("Index", "Home", new { id = currentID })" onclick="showLoadingScreen()" style="font-size: 14px; margin-right: 10px;" class="navbar-btn btn btn-primary">Edit</a>*@
@*                }*@
@*            }*@
@**@
@*        </div>*@
        @{
            if (currentRequest != null)
            {
                var currentID = currentRequest.ToString();

                <div class="navbar-header col-lg-2">
                    <div class="navbar-brand">Patient Name</div>
                </div>
            }
        }
        <!-- /.Loggin stuff -->
        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img src="../../Images/user.png" class="img-responsive" alt="User">  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><img src="../../Images/log_out.png" class="img-responsive" alt="Logout"> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">               
                    <li>
                        <a href="@Url.Action("Index", "Patients")"><img src="../../Images/family6464blue.png" class="img-responsive" alt="Patients"> Patients</a>
                        <ul class="nav">

                            <li><a href="@Url.Action("Create", "Patients")"><img src="../../Images/plus6464.png" class="img-responsive" alt="Add"> Add</a></li>

                            @if (currentRequest == null)
                            {
                                <li><a href="#" onclick="alert('Select a patient first')"><img src="../../Images/editblue6464.png" class="img-responsive" alt="Edit"> Edit</a></li>
                            }
                            else
                            {
                                var currentID = currentRequest.ToString();
                                
                                <li><a href="@Url.Action("Edit", "Patients", new { id = currentID })"><img src="../../Images/editblue6464.png" class="img-responsive" alt="Edit"> Edit</a></li>
                            }

                        </ul>
                    </li>
                    <li>
                        @if (currentRequest == null)
                        {
                            <a href="#" onclick="alert('Select a patient first')"><img src="../../Images/results6464blue.png" class="img-responsive" alt="Results"> Analysis Results</a>
                        }
                        else
                        {
                            var currentID = currentRequest.ToString();

                            <a href="@Url.Action("Details", "Analyses", new { id = currentID })"><img src="../../Images/results6464blue.png" class="img-responsive" alt="Results"> Analysis Results</a>
                        }                       
                    </li>
                    <li>
                        <a href="@Url.Action("UploadFile", "Home")" onclick="showLoadingScreen()"><img src="../../Images/upload6464blue.png" class="img-responsive" alt="Upload"> Upload Data</a>
                    </li>                
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>